<div id="<%= dom_id(category) %>" class="mx-auto md:w-2/3 w-full">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= category.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= category.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <% if category.image.attached? %>
      <%= image_tag category.image, size: "300x300", class: "img-thumbnail" %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </p>
</div>
